<!DOCTYPE html>
<html>
<head>
<title>Scene With Three.js</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="../resource/script/build/three.js"></script>
<script src="../resource/script/cameraControl.js"></script>
<script src="../resource/script/eventTrigger.js"></script>
<script src="../resource/script/formSubmit.js"></script>
<script src="../resource/script/objectManagement.js"></script>
<link href="../resource/style/layout.css" rel="stylesheet">
</head>
<body>
    <script>
        var cinit = CameraGenerator.getCamera(0, 0, 5, 0, 0, 0);
        var scene = new THREE.Scene();
        var camera = new THREE.PerspectiveCamera(60, window.innerWidth / window.innerHeight, 0.1, 1000);
        camera.position.add(new THREE.Vector3(cinit.from_x, cinit.from_y, cinit.from_z));
        var renderer = new THREE.WebGLRenderer();
        renderer.setSize(window.innerWidth, window.innerHeight);
        renderer.setClearColor(0x000000, 1);
        renderer.domElement.id = "MainWindow";
        document.body.appendChild(renderer.domElement);
        
        var object = {};

//        var geometry = new THREE.BoxGeometry(1, 1, 1);
//        var material = new THREE.MeshLambertMaterial({ color: 0x00ff00});
//        var cube = new THREE.Mesh(geometry, material);
//        cube.position.add(new THREE.Vector3(0.3, 0.5, 0));
//        object.push(cube);
//
//        geometry = new THREE.SphereGeometry(1.5, 128, 96);
//        material = new THREE.MeshLambertMaterial({ color: 0xffff00});
//        var sphere = new THREE.Mesh(geometry, material);
//        sphere.position.add(new THREE.Vector3(-0.5, -0.5, 0.5));
//        scene.add(sphere);
//        object.push(sphere);

//        for (var i = 0; i < object.length; i++){
//            scene.add(object[i]);
//        }
        var Initial = <%- JSON.stringify(Objects) %>;
        for(var i = 0; i < Initial.cuboid.length; i++){
            ObjManager.cuboid.add(Initial.cuboid[i], Initial.cuboid[i].id);
        }
        for(var i = 0; i < Initial.sphere.length; i++){
            ObjManager.sphere.add(Initial.sphere[i], Initial.sphere[i].id);
        }
        var ambientLight = new THREE.AmbientLight(0x202020);
        scene.add(ambientLight);

        var directionalLight = new THREE.DirectionalLight(0xffffff, 0.5);
        directionalLight.position.set(0, 1, 0);
        //		scene.add(directionalLight.target);
        scene.add(directionalLight);
        
        var render = function(){
            requestAnimationFrame(render);
            cprop = CameraGenerator.getCamera();
            camera.position.set(cprop.from_x, cprop.from_y, cprop.from_z);
            camera.lookAt(new THREE.Vector3(cprop.look_x, cprop.look_y, cprop.look_z));
            renderer.render(scene, camera);
        }
        render();
    </script>
	<div id="PanelToggle">
		Panel-off
	</div>

	<div id="CameraToggle">
		Camera-fixed
	</div>

	<div id="ControlPanel">
<!--    <div class="tab">
            <button class="tablinks" id="addButton">Add</button>
            <button class="tablinks" id="editButton">Edit</button>
            <button class="tablinks" id="deleteButton">Delete</button>
        </div>
        <div id="add" class="tabcontent">
            <form>
                
            </form>    
        </div>
-->
        <form id="add-cuboid">
            x:
            <input type="text" id="cuboid-x"/>
            <br>
            y:
            <input type="text" id="cuboid-y"/>
            <br>
            z:
            <input type="text" id="cuboid-z"/>
            <br>
            length:
            <input type="text" id="cuboid-length"/>
            <br>
            width:
            <input type="text" id="cuboid-width"/>
            <br>
            height:
            <input type="text" id="cuboid-height"/>
            <br>
            color:
            <input type="text" id="cuboid-color"/>
            <br>
            <input type="submit" value="Submit"/>
        </form>

        <form id="add-sphere">
            x:
            <input type="text" id="sphere-x"/>
            <br>
            y:
            <input type="text" id="sphere-y"/>
            <br>
            z:
            <input type="text" id="sphere-z"/>
            <br>
            radius:
            <input type="text" id="sphere-radius"/>
            <br>
            widthSegments:
            <input type="text" id="sphere-widthSegments"/>
            <br>
            heightSegments:
            <input type="text" id="sphere-heightSegments"/>
            <br>
            color:
            <input type="text" id="sphere-color"/>
            <br>
            <input type="submit" value="Submit"/>
        </form>
	</div>
    <div id="edit-delete">
        <div id="object-attribute"></div>
        <br>
        <div id="object-view"></div>
        <input type="hidden" id="object-id"/>
        <form id="edit-object">
            x:
            <input type="text" id="object-x"/>
            y:
            <input type="text" id="object-y"/>
            z:
            <input type="text" id="object-z"/>
            <br>
            color:
            <input type="text" id="object-color"/>
            <div id="special-traits"></div>
            <input type="submit" value="Edit"/>
            <br>
        </form>
        <form id="delete-object">
            <input type="submit" value-"Delete"/>
        </form>
    </div>
</body>
</html>
